
body { 
	background: url('https://www.st-andrews.ac.uk/philosophy/images/front/web24.jpg');
	opacity: 1;
	background-size: cover;
 }


h1 { 
	font-family: 'Acme', sans-serif;
	text-align: center;
	text-decoration: bold;
	font-size: 85px;
	color: white;
	margin: 60px 0 0 0; 
}


h2 {
	font-family: helevetica, sans-serif;
	font-size: 40px;
	color: white;
	text-align: center;
	margin: 40px 0 0 0;
}
p {
    font-family: helevetica, sans-serif;
	font-size: 25px;
	color: white;
	text-align: center;
	text-decoration: italic;
	text-decoration: bold;
	margin: 60px 0 0 0;
}

=======

#mybutton{
	align=center; 
	
}	
>>>>>>> origin/master
