body { 
	background: rgba(53, 85, 145, 1);
	opacity: .8;
 }

h1 {
	font-family: 'Paytone One', sans-serif;
	text-align: center;
	text-decoration: bold;
	font-size: 85px;
	color: white;
	margin: 60px 0 0 0;

}
<<<<<<< HEAD
h2 {
	font-family: helevetica, sans-serif;
	font-size: 40px;
	color: white;
	text-align: center;
	margin: 40px 0 0 0;
}
p {
    font-family: helevetica, sans-serif;
	font-size: 25px;
	color: white;
	text-align: center;
	text-decoration: italic;
	text-decoration: bold;
	margin: 60px 0 0 0;
}

=======

#mybutton{
	
}	
>>>>>>> origin/master
