

body { 
	background-image: url('https://c1.staticflickr.com/9/8826/17187449677_eff3e63c2c_b.jpg');
	background-size: cover; 
	opacity: 1;
	}


h1 { 
	opacity: 1;
	background-size: cover;
	font-family: 'Acme', sans-serif;
	text-align: center;
	text-decoration: bold;
	font-size: 100px;
	color: white;
	margin: 0 0 0 0; 
}


h2 {
	font-family: helevetica, sans-serif;
	font-size: 40px;
	color: white;
	text-align: center;
	margin: 80px 40px 40px 40px;
	padding: 20px 40px 40px 20px;
}
p {
    font-family: helevetica, sans-serif;
	font-size: 25px;
	color: white;
	text-align: center;
	text-decoration: italic;
	text-decoration: bold;
	margin: 40px 0 0 0;
}

=======

#mybutton {
	
	}	
>>>>>>> origin/master
